    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Résumé</h2>
                    <p>You can view/download my Résumé clicking below</p>
                    <a href="{{ site.url }}/resume.pdf" class="btn btn-default btn-lg">Résumé</a>
                </div>
            </div>
        </div>
    </section>
